@import "tailwindcss";

@theme {
  --font-sans: var(--font-plus-jakarta-sans);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* 📄 styles/nprogress.css */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #3b82f6; /* Azul Tailwind */
  height: 3px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1031;
}